.title {
    margin-left: 600px;
    margin-top: 0px;
    padding-top: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    margin-top: 30px;
    background-color: rgba(255, 0, 0, 0.521);
    height: 35px;
}

nav li{
    display: inline;
    margin: 40px 3px 3px 295px;
    font-size: 20pt;
}

header {
    background-image: url("Pictures/Sky.jpeg") ;
    width: 1358px;
    margin-left: 0px;
}
body{
    background-image: url("Pictures/Background.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
#page {
    font-size: 72px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

ul{
    float: left;
    background-color: rgba(43, 174, 184, 0.658);
    margin-left: 40px;
    width: 180px;

}
button{
    font-size: 36px;
    background-color: rgb(228, 78, 19);
    border-radius: 15px;
    margin-left: 620px;   
    margin-bottom: 30px; 
    margin-top: 50px;
}

table {
    background-color: rgba(240, 128, 128, 0.575);
    margin-left: 300px;
}
table ,th, td {
    border:  1px solid black;
    text-align: center;
}

th {
    font-style: italic;
}

#subtitles {
    text-align: center;
    margin-top: 20px;
    font-size: 48px;
    color: maroon;
    background-color: rgba(25, 25, 112, 0.226);
}

#locations {
    display: inline-block;
    border: 5px black solid;
    width: 1330px;
    margin-bottom: 20px;
}
#locations img {
    float: left;
    width: 580px;
    margin-right: 0px;
}
#locations p {
    text-align: center;
    font-size: 46px;
    margin-top: 10px;
    margin-bottom: 15px;
}
#locations section { 
    float: right;
    margin-right: 10px;
    background-color: rgba(25, 25, 112, 0.226);
    height: 338px
}

#locations ul {
    background-color:rgba(176, 224, 230, 0.527) ;
    margin-left: 0px;
    width: 280px;
}

#locations li {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}

#products {
    display: inline-block;
    border: 5px black solid;
    width: 1330px;
    margin-bottom: 20px;
}

#products #subtitles{
    margin-bottom: 25px;
}

#products img {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
}

footer {
    background-color: grey;
    height: 30px;
    margin-bottom: 0px;
    padding-top: 10px;
}

footer p {
    display: inline;
    font-size: 18px;
    color: white;
}